---
navigable: true
title: About
order: 0
narrow_page: true
---
<%= render '/partials/_about_sub_navbar.*', selected: 'about' %>
<h1 class="title is-1 has-text-centered">About Zeus WPI</h1>

<div class="content">
  <p>
    Zeus WPI is the student association for Computer Science at Ghent University.
    Our goal is to provide a stimulating environment for motivated students looking to expand their skills by engaging in interesting real-world projects.
  </p>

  <p>
     We organize various tech related talks by experts (eg. professors, PhD's, Richard Stallman, Julia Roberts, ...), hands-on coding events and introductory lectures for cool technologies.
     Together we build interesting applications for Ghent University students (<a href='https://hydra.ugent.be/'>Hydra</a>), for <a href='http://www.fkgent.be/'>FaculteitenKonvent</a> and <a href='https://12urenloop.be/'>12Urenloop</a>, and ofcourse for ourselves.
  </p>

  <p>
    Be sure to check out the <a href='../projects'>project-page</a>!
  </p>

  <p>
    Everybody is welcom at Zeus WPI, even if you don't study computer science. The only requirement is a healthy dose of motivation and some (toleration for) geekyness. 
  </p>

  <h2>The board</h2>

  <p>
    The board is the oil in the machine and is the driving force behind the organization of events and projects.
    The Zeus WPI board for the <%= pretty_year @config[:academic_year] %> academic year is:
  </p>

  <table class="table">
    <thead>
      <tr>
        <th>Function</th>
        <th>Name</th>
        <th>E-mail</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% current_bestuur.each do |lid| %>
      <tr>
        <td>
          <%= lid[:rol] %>
        </td>
        <td>
          <%= lid[:naam] %>
        </td>
        <td>
          <%= lid[:mail] %>
        </td>
        <td>
          <a href="mailto:<%= lid[:mail] %>">
            <%= fa :envelope %>
          </a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <h2>Contact</h2>

  <p>
    Zeus WPI is located in the basement of the S9 building on Campus Sterre, by it's members often named “de kelder”.
  </p>

  <p>Reach us:</p>

  <ul>
    <li>
      come to “de kelder” and say hi! (find us <a href="https://soleway.ugent.be/routes/4370"> here</a>).
    </li>
    <li>
      mail <a href="mailto:bestuur@zeus.ugent.be">the board</a> (bestuur@zeus.ugent.be), or some <a href="../about"> specific members </a>
    </li>
    <li>
      join our <a href="https://zeuswpi.slack.com/">Slack team</a> (by *ugent.be mail or invite)
    </li>
    <li>
      send a yellow postcard “Zeus WPI – Krijgslaan 281, S9 – 9000 Gent”
    </li>
    <li>
      keep up to date trough our <a href="http://lists.zeus.ugent.be/mailman/listinfo/leden">mailinglist</a>
    </li>
    <li>
      check out our <a href="irc://wina.ugent.be/#zeus">IRC-channel</a>
    </li>
    <li>
      call us at <a href="tel://+3292644751">09 264 4751</a> (intern: 4751)
    </li>
    <li>
      deposit at BE32 9799 9370 6502 (BIC: ARSP BE 22)
    </li>
    <li>
      follow us on Twitter: <a href="http://twitter.com/ZeusWPI">@ZeusWPI</a>
    </li>
    <li>
      like us on <a href="https://www.facebook.com/zeus.wpi">Facebook</a>
    </li>
  </ul>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1156.8611760710044!2d3.7102397000000003!3d51.023149499999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c373c271502d9b%3A0x49fd54f81cafeb5f!2sZeus+WPI!5e0!3m2!1sen!2sbe!4v1481415854540" height="450" style="border:0;width:100%" allowfullscreen></iframe>
</div>
