---
navigable: true
title: Cammie
---
<% content_for :scripts do %>
<script src="https://code.jquery.com/jquery-3.0.0.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js" integrity="sha256-ohm5bQuo4yRByZrO3JFkHnUxob0EsucKvzTA4ZUQ87g=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
</script>
<%= asset :js, :cammie %>
<%= asset :js, :message %>
<% end %>

<section id="cammie-section">
  <div id="cammieFeedDisconnected" class="notification is-danger is-light is-hidden">
    Camera feed automatically disconnected due to inactivity, reload the page to resume viewing
    <br>
    Cammie is meant for checking if the kelder is busy before coming and shouldn't be left open for longer periods of time
  </div>
  <div id="cammie-body">
    <figure class="image is-16by9">
      <img id="cammie-feed" alt="cammie" src="https://kelder.zeus.ugent.be/camera/cammie" onerror="cammie_error()" onload="cammie_loaded()">
    </figure>
    <div id="cammie-ctrls">
      <div class="columns is-mobile">
        <div class="column is-1 ctrl diag left" data-command="set_relative_pos" data-x="-10" data-y="10">
          <%= fa 'chevron-circle-left' %>
        </div>
        <div class="column ctrl center" data-command="set_relative_pos" data-x="0" data-y="10">
          <%= fa 'chevron-circle-up' %>
        </div>
        <div class="column is-1 ctrl diag right" data-command="set_relative_pos" data-x="10" data-y="10">
          <%= fa 'chevron-circle-up' %>
        </div>
      </div>

      <div class="columns center is-mobile">
        <div class="column is-1 ctrl left" data-command="set_relative_pos" data-x="-10" data-y="0">
          <%= fa 'chevron-circle-left' %>
        </div>
        <div class="column">
          <!-- blank space -->
        </div>
        <div class="column is-1 ctrl right" data-command="set_relative_pos" data-x="10" data-y="0">
          <%= fa 'chevron-circle-right' %>
        </div>
      </div>

      <div class="columns is-mobile">
        <div class="column is-1 ctrl diag left" data-command="set_relative_pos" data-x="-10" data-y="-10">
          <%= fa 'chevron-circle-down' %>
        </div>
        <div class="column ctrl center" data-command="set_relative_pos" data-x="0" data-y="-10">
          <%= fa 'chevron-circle-down' %>
        </div>
        <div class="column is-1 ctrl diag right" data-command="set_relative_pos" data-x="10" data-y="-10">
          <%= fa 'chevron-circle-right' %>
        </div>
      </div>
    </div>
  </div>

  <nav id="cammie-ctrls-2" class="columns mt-0">
    <div class="column">
      <button class="button is-primary is-full-width ctrl" data-command="set_pos" data-x="43" data-y="15">
        Kleine tafel
      </button>
    </div>
    <div class="column">
      <button class="button is-primary is-full-width ctrl" data-command="set_pos" data-x="32" data-y="6">
        Grote tafel
      </button>
    </div>
    <div class="column">
      <button class="button is-primary is-full-width ctrl" data-command="set_pos" data-x="64" data-y="10">
        Zetel
      </button>
    </div>
    <div class="column">
      <button class="button is-primary is-full-width ctrl" data-command="set_pos" data-x="30" data-y="4">
        Deur
      </button>
    </div>
    <% if christmastime? %>
      <div class="column">
        <button class="button is-primary is-full-width ctrl" data-command="set_pos" data-x="-110" data-y="25">
          Kerstboom
        </button>
      </div>
    <% end %>
  </nav>

  <div class="columns">
    <div class="column is-12">
      <form id="cammieForm">

        <!-- Response Error -->
        <div id="cammieFormResponseError" class="notification is-danger is-light is-hidden"></div>

        <!-- Response Success -->
        <div id="cammieFormResponseSuccess" class="notification is-success is-light is-hidden"></div>

        <nav class="columns mt-0">
          <div class="column">
            <input class="input is-medium is-full-width" name="name" type="text" placeholder="Name">
          </div>
          <div class="column is-half">
            <input class="input is-medium is-full-width" name="message" type="text" placeholder="Message...">
          </div>
          <div class="column">
            <button class="button is-medium is-primary is-full-width" type="submit">
              Send to kelder
            </button>
          </div>
        </nav>
      </form>
    </div>
  </div>
</section>
