---
navigable: true
title: Cammie
---

<img id="cammie" src="https://kelder.zeus.ugent.be/webcam/video/mjpg.cgi?profileid=2" alt="" />

<div id="left" class="ctrl">
  <%= fa 'chevron-left', size: '2x' %>
</div>

<div id="right" class="ctrl">
  <%= fa 'chevron-right', size: '2x' %>
</div>

<div id="up" class="ctrl">
  <%= fa 'chevron-up', size: '2x' %>
</div>

<div id="down" class="ctrl">
  <%= fa 'chevron-down', size: '2x' %>
</div>

<%= asset :js, :cammie %>
