<% content_for :head do %>
  <META NAME="Title" CONTENT="Zeus WPI: Werkgroep informatica van de Universiteit Gent">
  <META NAME="Keywords" CONTENT="zeus wpi, informatica, universiteit gent">
  <META NAME="Description" CONTENT="Studentenvereniging van de informatica aan de Universiteit Gent. Informatie over o.a. Linux (downloads en lessen), programmeren, en internetbeveiliging.">
  <meta property="og:title" content="Zeus WPI: WerkgroeP Informatica van de Universiteit Gent">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://zinc.zeus.gent">
  <meta property="og:description" content="Studentenvereniging van de informatica aan de Universiteit Gent. Informatie over o.a. Linux (downloads en lessen), programmeren, en internetbeveiliging.">
<% end %>

<% content_for :scripts do %>
  <%= asset :js, :gamification %>
<% end %>

<div id="homepage">
  <div class="tile is-vertical is-ancestor">
    <% if studytime? %>
      <%= render '/tiles/blokmap.*' %>
    <% end %>
    <!--next event -->
    <div class="tile is-parent">
      <div class="tile is-child">
        <div class="block has-text-centered">
          <span class="title is-2-responsive underline--magical">
            <a href="https://zeus.ugent.be/events/<%= current_academic_year %>" style="color: black; text-decoration: none;">
             Upcoming Events
             </a>
          </span>
        </div>
        <% unless upcoming_events.empty? %>
          <% upcoming_events.first(3).each do |event| %>
            <div class="block">
              <%= render '/partials/_events_tile.*', event: event %>
            </div>
          <% end %>
        <% else %>
          <div class="block content has-text-centered">
            There are currently no upcoming events. If you have a suggestion, let us know on mattermost in <a href="https://mattermost.zeus.gent/zeus/channels/events">~events</a>!
            <hr>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tile">
      <div class="tile is-parent">
        <div class="tile is-child">
          <div class="block has-text-centered">
            <span class="title is-2-responsive underline--magical">
              <a href="https://gamification.zeus.gent" style="color: black; text-decoration: none;">
              Top Coders
              </a>
            </span>
          </div>
          <div class="box gamification-tile">
            <div class="content">
              <div class="tile-header">
                <h1 class="has-text-centered">
                  <a href="https://gamification.zeus.gent">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                  </a>
                </h1>
              </div>
              <div id="gamification-coders" >
                <!-- EMPTY -->
              </div>
            </div>
          </div>


          <div class="block has-text-centered">
            <span class="title is-2-responsive underline--magical">
              <a href="https://zeus.ugent.be/events/<%= current_academic_year %>" style="color: black; text-decoration: none;">
              Previous Events
              </a>
            </span>
          </div>
          <% previous_events[0..3].each do |event| %>
            <div class="block">
              <%= render '/partials/_events_tile.*', event: event %>
            </div>
          <%end%>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child">
          <div class='content has-text-centered box'>
            <h2>
              <a href="https://zeus.ugent.be/about/about/" style="color: black; text-decoration: none;">
                About Zeus WPI
              </a>
            </h2>
            <p>
            Zeus WPI is the student association for Computer Science at Ghent University.
            Our goal is to provide a stimulating environment for motivated students looking to expand their skills by engaging in interesting real-world projects.
            </p>

            <p>
            We organize various tech related events, such as talks by experts, hands-on coding events and introductory lectures for interesting technologies.
            Together we build applications for Ghent University students (<a href='https://hydra.ugent.be/'>Hydra</a>), for <a href='https://12urenloop.be/'>12urenloop</a> and of course for ourselves.
            </p>
          </div>
          <div class="block has-text-centered">
            <span class="title is-2-responsive underline--magical">
              <a href="https://zeus.ugent.be/blog/<%= current_academic_year %>" style="color: black; text-decoration: none;">
              Blogpost
              </a>
            </span>
          </div>
          <% sorted_articles[0..2].each do |post| %>
            <%= render '/partials/_blog_preview.*', post: post %>
          <%end%>
        </div>
      </div>
    </div>
    <div class="tile">
      <!--top coders -->
      <div class="tile is-parent">
        <div class="tile is-child">
        </div>
      </div>
    </div>
    <!--Sponsors -->
    <div class="tile is-parent">
      <div id='sponsoring-members' class="tile is-child">
        <div class="block has-text-centered">
          <span class="title is-2-responsive underline--magical">
            <a href="https://zeus.ugent.be/sponsors/members/" style="color: black; text-decoration: none;">
              Sponsoring members
            </a>
          </span>
        </div>
        <% if current_sponsoring_members.nil? %>
          <div class="block has-text-centered">
            <p>No sponsoring members yet for this academic year. Interested? Contact the board.</p>
          </div>
        <% else %>
          <div class="columns is-centered is-multiline is-mobile">
            <% current_sponsoring_members.shuffle.each do |member| %>
              <div class='column is-2-desktop is-one-fifth-tablet is-one-third-mobile'>
                <div class="rounded-container">
                  <a href="https://zeus.ugent.be/sponsors/members/#<%= member[:nickname] %>">
                    <img class="is-rounded" src="<%= member[:photo] %>" alt="<%= member[:name] %>">
                  </a>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tile is-parent">
      <div id="sponsors" class="tile is-child">
        <div class="block has-text-centered">
          <span class="title is-2-responsive underline--magical">
            <a href="https://zeus.ugent.be/sponsors/sponsors/" style="color: black; text-decoration: none;">
              Sponsors
            </a>
          </span>
        </div>
        <% if current_sponsors.nil? %>
          <div class="block has-text-centered">
            <p>No sponsors yet for this academic year. Interested? Contact the board.</p>
          </div>
        <% else %>
          <div class="columns is-centered is-multiline is-mobile">
            <% current_sponsors.shuffle.each do |sponsor| %>
              <div class='column is-2-desktop is-one-fifth-tablet is-one-third-mobile'>
                <div class="rounded-container">
                  <a href="https://zeus.ugent.be/sponsors/sponsors/#<%= sponsor[:name] %>">
                    <img class="is-rounded" src="<%= sponsor[:photo] %>" alt="<%= sponsor[:name] %>">
                  </a>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
