<% content_for :head do %>
<META NAME="Title" CONTENT="Zeus WPI: Werkgroep informatica van de Universiteit Gent">
<META NAME="Keywords" CONTENT="zeus wpi, informatica, universiteit gent">
<META NAME="Description" CONTENT="Studentenvereniging van de informatica aan de Universiteit Gent. Informatie over o.a. Linux (downloads en lessen), programmeren, en internetbeveiliging.">
<% end %>

<div id="homepage">
  <div class="tile is-vertical is-ancestor">
    <div class="tile is-parent is-12">
      <%= render '/partials/_tile.*', article: all_events[0] %>
    </div>
    <div class="tile">
      <div class="tile is-parent is-4">
        <%= render '/partials/_tile.*', article: all_events[1], htmlclass: "highlighted" %>
      </div>
      <div class="tile is-parent is-4">
        <div class="tile is-child box highlighted">
          <img src="//thecatapi.com/api/images/get?format=src&type=gif">
        </div>
      </div>
      <div class="tile is-vertical is-2">
        <a class="tile" href="https://zeus.ugent.be/wiki">
          <div class="tile is-parent">
            <div class="tile is-child box has-text-centered" >
              <%= fa 'wikipedia-w' %>
            </div>
          </div>
        </a>
        <a class="tile" href="/cammie">
          <div class="tile is-parent">
            <div class="tile is-child box has-text-centered">
              <%= fa 'video-camera' %>
            </div>
          </div>
        </a>
      </div>
      <div class="tile is-vertical is-2">
        <a class="tile" href="https://github.com/ZeusWPI">
          <div class="tile is-parent">
            <div class="tile is-child box has-text-centered">
              <%= fa 'github' %>
            </div>
          </div>
        </a>
        <a class="tile" href="https://www.facebook.com/zeus.wpi/?fref=ts">
          <div class="tile is-parent">
            <div class="tile is-child box has-text-centered">
              <%= fa 'facebook-official' %>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="tile">
      <div class="tile is-4 is-parent">
        <a class="tile is-child box" href="<%= relative_path_to(sorted_articles.first) %>">
          <div class="content">
            <h1><%= sorted_articles.first[:title] %></h1>
            <%= sorted_articles.first[:description] %>
          </div>
        </a>
      </div>
      <div class="tile is-vertical">
        <div class="tile is-parent">
          <div class="tile is-child box">
            <div class="content">
            <h1><a href="https://zeus.ugent.be/game">Top Zeus WPI coders this week</a></h1>
              <div id="gamification-coders">
              <!-- EMPTY -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= asset :js, :gamification %>
