<% content_for :head do %>
<META NAME="Title" CONTENT="Zeus WPI: Werkgroep informatica van de Universiteit Gent">
<META NAME="Keywords" CONTENT="zeus wpi, informatica, universiteit gent">
<META NAME="Description" CONTENT="Studentenvereniging van de informatica aan de Universiteit Gent. Informatie over o.a. Linux (downloads en lessen), programmeren, en internetbeveiliging.">
<% end %>

<div id="homepage">
  <div class="tile is-vertical is-ancestor">
    <div class="tile is-parent is-12">
      <%= render '/partials/_tile.*', article: all_events[0], htmlclass: "highlighted", small_text: "Upcoming event" %>
    </div>
    <div class="tile">
      <div class="tile is-parent is-4">
        <%= render '/partials/_tile.*', article: all_events[1], small_text: "Upcoming event" %>
      </div>
      <div class="tile is-parent is-4">
        <div class="tile is-child box  ">
          <div class="content has-text-centered ">
            <div id="quote" >
              <!--<img src="//thecatapi.com/api/images/get?format=src&type=gif&size=small"> -->
              <!-- INTENTIONALLY LEFT BLANK -->
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-parent is-2">
        <a class="tile box is-child imgcenter lana-tile" href="/projects/#lana">
          <div class="logo-initial has-text-centered">L</div>
        </a>
      </div>
      <div class="tile is-parent is-2">
        <a class="tile is-child imgcenter box hydra-tile" href="/projects/#hydra">
          <%= asset :img, 'hydra-logo.png' %>
        </a>
      </div>
    </div>
    <div class="tile">
      <div class="tile is-4 is-parent">
        <%= render '/partials/_tile.*', article: sorted_articles.first, small_text: "Latest blogpost",htmlclass:"highlighted"%>
      </div>
      <div class="tile is-vertical">
        <div class="tile is-parent">
          <div class="tile is-child box ">
            <div class="content">
            <h1><a href="https://zeus.ugent.be/game">Top Zeus WPI coders this week</a></h1>
              <div id="gamification-coders">
              <!-- EMPTY -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= asset :js, :gamification %>
<%= asset :js, :quote %>
