<% content_for :head do %>
<META NAME="Title" CONTENT="Zeus WPI: Werkgroep informatica van de Universiteit Gent">
<META NAME="Keywords" CONTENT="zeus wpi, informatica, universiteit gent">
<META NAME="Description" CONTENT="Studentenvereniging van de informatica aan de Universiteit Gent. Informatie over o.a. Linux (downloads en lessen), programmeren, en internetbeveiliging.">
<% end %>

<div id="homepage">
  <div class="tile is-vertical is-ancestor">
    <div class="tile is-parent is-12">
      <%= render '/partials/_tile.*', article: all_events[0] %>
    </div>
    <div class="tile">
      <div class="tile is-parent is-4">
        <%= render '/partials/_tile.*', article: all_events[1], htmlclass: "highlighted" %>
      </div>
      <div class="tile is-parent is-4">
        <div class="tile is-child box highlighted">
          <img src="http://thecatapi.com/api/images/get?format=src&type=gif&size=small">
        </div>
      </div>
      <div class="tile is-vertical is-2">
        <div class="tile is-parent">
          <div class="tile is-child box has-text-centered" >
            <a href="https://zeus.ugent.be/wiki">
              <%= fa 'wikipedia-w' %>
            </a>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child box has-text-centered">
            <a href="/cammie">
            <%= fa 'video-camera' %>
            </a>
          </div>
        </div>
      </div>
      <div class="tile is-vertical is-2">
        <div class="tile is-parent">
          <div class="tile is-child box has-text-centered">
            <a href="https://github.com/ZeusWPI">
              <%= fa 'github' %>
            </a>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child box has-text-centered">
            <a href="https://www.facebook.com/zeus.wpi/?fref=ts">
              <%= fa 'facebook-official' %>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="tile">
      <div class="tile is-4 is-parent">
        <%= render '/partials/_tile.*', article: sorted_articles.first %>
      </div>
      <div class="tile is-vertical">
        <div class="tile is-parent">
          <div class="tile is-child box">
            <p>
              Numero uno: @werthen
            </p>
            <p>
              Numero dos: @myncke
            </p>
            <p>
              Numero tres: @iepoev
            </p>
            <p>
              Numero quatro: @becousae
            </p>
          </div>
        </div>
        <div class="tile">
          <div class="tile is-6 is-parent">
            <div class="tile is-child box">
              GITHUB
            </div>
          </div>
          <div class="tile is-6 is-parent">
            <div class="tile is-child box">
              GITHUB
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
