<% content_for :head do %>
  <META NAME="Title" CONTENT="Zeus WPI: Werkgroep informatica van de Universiteit Gent">
  <META NAME="Keywords" CONTENT="zeus wpi, informatica, universiteit gent">
  <META NAME="Description" CONTENT="Studentenvereniging van de informatica aan de Universiteit Gent. Informatie over o.a. Linux (downloads en lessen), programmeren, en internetbeveiliging.">
  <meta property="og:title" content="Zeus WPI: WerkgroeP Informatica van de Universiteit Gent" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://zinc.zeus.gent" />
  <meta property="og:description" content="Studentenvereniging van de informatica aan de Universiteit Gent. Informatie over o.a. Linux (downloads en lessen), programmeren, en internetbeveiliging." />
<% end %>

<% content_for :scripts do %>
  <%= asset :js, :gamification %>
<% end %>

<div id="homepage">
  <div class="tile is-vertical is-ancestor">
    <% if studytime? %>
      <%= render '/tiles/blokmap.*' %>
    <% end %>
    <!--next event -->
    <% unless upcoming_events.empty? %>
      <div class="tile is-parent">
        <div class="tile is-child">
          <span class="title is-1 underline--magical" style='display: inline-block'>Upcoming Events</span>
          <% upcoming_events.each do |event| %>
            <div class="block">
              <%= render '/partials/_events_tile.*', event: event %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="tile">
      <div class="tile is-parent">
        <div class="tile is-child">
          <span class="title is-1 underline--magical" style='display: inline-block'>Previous Events</span>
          <% previous_events[0..2].each do |event| %>
            <div class="block">
              <%= render '/partials/_events_tile.*', event: event %>
            </div>
          <%end%>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child">
          <span class="title is-1 underline--magical" style='display: inline-block'>Blogposts</span>
          <% sorted_articles[0..3].each do |post| %>
            <%= render '/partials/_blog_preview.*', post: post %>
          <%end%>
        </div>
      </div>
    </div>
    <div class="tile">
      <!--top coders -->
      <div class="tile is-parent">
        <div class="tile is-child">
          <span class="title is-1 underline--magical" style='display: inline-block'>Top Coders</span>
          <div class="box gamification-tile">
            <div class="content">
              <div class="tile-header">
                <h1 class="has-text-centered">
                  <a href="https://zeus.ugent.be/game">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                  </a>
                </h1>
              </div>
              <div id="gamification-coders" >
                <!-- EMPTY -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
