---
navigable: true
title: Projecten
order: 30
---
<div class="container project content">
  <article id="hydra" class="columns">
    <div class="column is-one-quarter" id="logo-column">
      <div class="hydra-scrot">
        <img src="/assets/images/hydra.png">
      </div>
    </div>
    <div class="column rows">
      <p class="title">Hydra</p>
      <p class="description subtitle">
        Android, iOS, and Windows 10 application providing all the information a student at Ghent University needs.<br>
        For an overview of the features, visit the project's <a href="http://student.ugent.be/hydra/">website</a>.
      </p>
      <div class="columns links">
        <div class="has-text-centered">
          <a href="https://itunes.apple.com/be/app/hydra/id602640924">
            <%= svg 'apple' %>
          </a>
          <a href="https://github.com/ZeusWPI/hydra-iOS">iOS <span class="icon"><%= fa('github') %></span></a>
        </div>
        <div class="has-text-centered">
          <a href="http://play.google.com/store/apps/details?id=be.ugent.zeus.hydra">
            <%= svg 'google' %>
          </a>
          <a href="https://github.com/ZeusWPI/hydra-android">Android <span class="icon"><%= fa('github') %></span></a>
        </div>
        <div class="has-text-centered">
          <a href="http://www.windowsphone.com/s?appId=08d3268e-aad6-48fa-ae83-5ccd1663e73a"><%= svg 'windows' %></a>
          <a href="https://github.com/ZeusWPI/hydra-windows">Windows 10 <span class="icon"><%= fa('github') %></span></a>
        </div>
      </div>
    </div>
  </article>
</div>


<% all_projects.each do |project| %>
  <%= render '/partials/_project.erb', project: project%>
<% end %>