---
navigable: true
title: Projecten
order: 30
---
<div class="container project content">
  <article id="hydra" class="columns">
    <div class="column is-one-quarter" id="logo-column">
      <div class="hydra-scrot">
        <%= asset :img, 'hydra.png' %>
      </div>
    </div>
    <div class="column rows">
      <p class="title">Hydra</p>
      <p class="description subtitle">
        Android and iOS app providing all the information a student at Ghent University needs.<br>
        For an overview of the features, visit the project's <a href="https://hydra.ugent.be/">website</a>.
      </p>
      <div class="columns links">
        <div class="has-text-centered">
          <a href="https://itunes.apple.com/be/app/hydra/id602640924">
            <%= asset :img, 'apple.svg' %>
          </a>
          <div class="clear"></div>
          <a href="https://github.com/ZeusWPI/hydra-iOS"><span class="icon"><%= fa('github') %></span> iOS</a>
        </div>
        <div class="has-text-centered">
          <a href="http://play.google.com/store/apps/details?id=be.ugent.zeus.hydra">
            <%= asset :img, 'google.svg' %>
          </a>
          <div class="clear"></div>
          <a href="https://github.com/ZeusWPI/hydra-android"><span class="icon"><%= fa('github') %></span> Android</a>
        </div>
      </div>
    </div>
  </article>
</div>


<% all_projects.each do |project| %>
  <%= render '/partials/_project.erb', project: project%>
<% end %>
