---
narrow_page: true
subnavigation:
  bar: about
  identifier: about
  name: Zeus WPI
  order: 100
---

<h1 class="title is-1 has-text-centered"><%= t('about.about_zeus.title') %></h1>

<div class="content">
  <p>
    <%= t('about.about_zeus.content_1') %>
  </p>

  <p>
    <%= t('about.about_zeus.content_2', hydra: '<a href="https://hydra.ugent.be">Hydra</a>', urenloop: '<a href="https://urenloop.ugent.be">12urenloop</a>') %>
  </p>

  <p>
    <%= t('about.about_zeus.content_3', project_page: '<a href="https://zeus.ugent.be/projects">project page</a>') %>
  </p>

  <p>
    <%= t('about.about_zeus.content_4') %>
  </p>

  <h2><%= t('about.about_zeus.board.title') %></h2>
  <p id="board">
    <%= t('about.about_zeus.board.content', year: pretty_year(@config[:academic_year])) %>
  </p>

  <blockquote>
    <%= t('about.about_zeus.board.mail')%> <a href='mailto:bestuur@zeus.ugent.be'>bestuur@zeus.ugent.be</a>
  </blockquote>

  <%= render '/partials/_current_bestuur.*' %>

</div>
