---
narrow_page: true
subnavigation:
  bar: about
  identifier: oud-bestuur
  name: subnavigation.former_boards
  order: 500
---

<h1 class="title is-1 has-text-centered"><%= t('about.former_boards.title')%></h1>

<div class="content">

  <p><%= t('about.former_boards.content') %></p>

  <% all_bestuur.each do |year, bestuur| %>

    <h2><%= academic_year_string(year) %></h2>

    <table class="table board-table">
      <thead>
      <tr>
        <th><%= t('about.about_zeus.board.function') %></th>
        <th><%= t('about.about_zeus.board.name') %></th>
      </tr>
      </thead>
      <tbody>
      <% bestuur.each do |lid| %>
        <tr>
          <td>
            <%= lid[:rol] %>
          </td>
          <td>
            <%= lid[:naam] %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

  <% end %>
</div>
