---
title: Privacybeleid
narrow_page: true
typography: true
toc: true
---
<%= render '/partials/_about_sub_navbar.*', selected: 'privacy' %>
<h1 class="title is-1 has-text-centered" id="top">Privacybeleid</h1>
<div id="table-of-contents" class="menu column is-4">
  <p class="menu-label">
    Inhoudstabel
  </p>
  <ul class="toc-depth-1" id="markdown-toc">
    <li><a href="#samenvatting" id="markdown-toc-samenvatting">Samenvatting</a></li>
    <li><a href="#opbouw" id="markdown-toc-opbouw">Opbouw</a></li>
    <li><a href="#wanneer" id="markdown-toc-wanneer">Wanneer en waar is dit privacybeleid van toepassing?</a></li>
    <li><a href="#wie" id="markdown-toc-wie">Wie heeft toegang tot de verzamelde data?</a></li>
    <li><a href="#welke" id="markdown-toc-welke">Welke data worden verzameld en waarvoor worden ze gebruikt?</a></li>
    <li><a href="#contact" id="markdown-toc-contact">Hoe contacteert u ons en laat u uw rechten gelden?</a></li>
    <li><a href="#projecten" id="markdown-toc-projecten">Overzicht der projecten</a></li>
    <li><a href="#diensten" id="markdown-toc-diensten">Overzicht der diensten</a></li>
  </ul>
</div>
<div class="content">

  <p>Laatst bijgewerkt op <strong><time datetime="2019-11-26">1 januari 2020</time></strong>.
  </p>

  <p>Zeus WPI biedt een waaier aan diensten en projecten aan aan haar leden en het algemene publiek. Met dit privacybeleid wilt ze aangeven hoe en waarvoor ze data verzamelt.</p>

  <h2 class="title is-2" id="samenvatting">Samenvatting</h2>

  <p>Zeus verzamelt vier grote categorieën van data:</p>
  <ol>
    <li>Administratieve informatie, zoals e-mailadressen en UGent-gebruikersnamen. Deze informatie heeft Zeus nodig om haar verplichtingen na te komen opgelegd door de statuten en om haar goede werking te verzekeren.</li>
    <li>Technische informatie, zoals serverlogs. Deze data zijn noodzakelijk om de systemen van Zeus draaiende te houden. Buiten het opsporen en oplossen van problemen doet Zeus hier niets mee.</li>
    <li>Projectdata. Hiermee worden alle gegevens bedoelt die gebruikt worden in projecten, zoals bestellingen in Haldis of transacties in Tab. Deze gegevens worden uiteraard gebruikt voor het doel van het project (bv. bestellingen opnemen bij Haldis). Uitzonderlijk kunnen ze ook gebruikt worden voor statistische of onderzoeksdoeleinden. In dat geval worden de data altijd geanonimiseerd.</li>
    <li>Sommige projecten verzamelen ook gebruikersstatistieken (analytics) en/of foutrapporten. De analytics om een beter inzicht te krijgen in het gebruik van projecten en de foutrapporten om de fouten en bugs snel te kunnen oplossen.</li>
  </ol>

  <p>In de regel heeft enkel het bestuur toegang tot de data. Op individuele basis kunnen projectontwikkelaars ook toegang krijgen tot de data van een specifiek project, indien dit nodig zou blijken voor de verdere ontwikkeling en ontplooiing van het desbetreffende project.</p>

  <h2 class="title is-2" id="opbouw">Opbouw</h2>

  <p>Het privacybeleid begint met een uiteenzetting van het beleid dat van toepassing is op alle gegevensverzameling of -verwerking die Zeus doet. Dit eerste deel wordt het algemene deel genoemd. Vervolgens worden alle projecten opgesomd die bijkomende gegevens verzamelen, of waarbij bijkomende uitleg nuttig is. Sommige projecten hebben ook uitzonderingen op het algemene deel. Dit deel wordt aangeduid als het project-specifieke deel. Tot slot volgt een lijst van diensten die door meerdere projecten gebruikt worden, en waarnaar verwezen wordt in het project-specifieke deel.</p>

  <h2 class="title is-2" id="wanneer">Wanneer en waar is dit privacybeleid van toepassing?</h2>

  <p>Zeus stelt projecten beschikbaar aan haar leden en het publiek in het algemeen. Daarbovenop worden de diensten en projecten van Zeus ook door derden gebruikt. Onder de Algemene Verordening Gegevensbescherming (AVG / GDPR) kan Zeus verschillende rollen vervullen. Meer informatie over deze termen vindt u o.a. <a href="https://ec.europa.eu/info/law/law-topic/data-protection/reform/rules-business-and-organisations/obligations/controller-processor/what-data-controller-or-data-processor_nl">hier</a>.</p>

  <h3 class="title is-3" id="verantwoordelijke">Zeus als dataverantwoordelijke</h3>

  <p>Voor het aanbieden van haar projecten verzamelt Zeus data. In dat geval is Zeus zelf de dataverantwoordelijke. Bij sommige projecten doet Zeus echter een beroep op derden, die namens Zeus gegevens verzamelen. Hierbij treedt Zeus op als "Verwerkingsverantwoordelijke".</p>

  <div class="example">
    Voorbeelden van projecten waarbij Zeus de dataverantwoordelijke is, zijn Haldis, Tab, Hydra, enz.
  </div>

  <h3 class="title is-3" id="verwerker">Zeus als verwerker</h3>

  <p>Zeus biedt ook diensten aan aan derden. In dat geval dient u zich te wenden tot het privacybeleid van de derde in wiens naam Zeus de data verwerkt. Zeus treedt dan op als "Verwerker".</p>

  <div class="example">
    Zeus kan de websites van andere verenigingen hosten op haar servers. Dan is niet het privacybeleid van Zeus van toepassing, maar dat van de vereniging wier website bij Zeus gehost wordt.
  </div>

  <p>Als Zeus optreedt als verwerker, zal Zeus in het algemeen slechts de absoluut noodzakelijke data verzamelen voor de integriteit en goede werking van haar systemen in stand te houden: enkel technische informatie, zoals beschreven in paragraaf <em><a href="#technisch">Technische gegevens</a></em>.</p>

  <h2 class="title is-2" id="wie">Wie heeft toegang tot de verzamelde data?</h2>

  <p>In de eerste plaats heeft het bestuur van Zeus toegang tot de gegevens, en in het bijzonder hebben de systeemadministrators toegang tot de data. Het bestuur beperkt zijn inzage in de gegevens tot het strikt noodzakelijke om zijn mandaat te vervullen.</p>

  <div class="example">
    De systeemadministrators hebben toegang tot alle gegevens, daar zij toegang hebben tot alle infrastructuur van Zeus. Uiteraard houden zij zich niet bezig met het bekijken van de verzamelde data; dit gebeurt enkel indien nodig, zoals wanneer een server crasht.
  </div>

  <p>Ook kunnen ontwikkelaars van een bepaald project toegang krijgen tot de data van dat project, indien dit nodig zou blijken voor de ontwikkeling van het project. Het bestuur, en de systeemadministrators in het bijzonder, kijken er op toe dat ontwikkelaars van projecten nooit meer toegang hebben dan nodig en dat de data niet misbruikt worden. </p>

  <div class="example">
    De ontwikkelaars van Hydra krijgen toegang de API-server en kunnen zo aan de serverlogs.
  </div>

  <h2 class="title is-2" id="welke">Welke data worden verzameld en waarvoor worden ze gebruikt?</h2>

  Zeus verzamelt vier grote categorieën van data.

  <h3 class="title is-3" id="administratie">Administratieve gegevens</h3>

  <p>Zeus houdt een reeks administratieve gegevens bij over haar leden, zoals vereist door de statuten of om de goede werking van de vereniging te bewerkstelligen. Onder deze data valt onder meer:</p>

  <ul>
    <li>
      <strong>Accountgegevens</strong>, zoals de gebruikersnaam, UGent-gebruikersnaam, enz. Dit is om de accountfunctionaliteit van de leden, zoals vereist in de statuten, mogelijk te maken.
    </li>
    <li>
      <strong>E-mailadressen</strong>. Dit om de leden in te schrijven op de mailinglijsten, zoals vereist door de statuten.
    </li>
  </ul>

  <p>Deze gegevens worden door u aan Zeus verstrekt op het moment dat u zich inschrijft.</p>

  <p>Indien u gebruik maakt van het Google Formulier voor uw inschrijving, worden de gegevens die u daar invult, opgeslagen in Google Drive. Deze zijn onderhevig aan het privacybeleid van Google.</p>

  <h3 class="title is-3" id="technisch">Technische gegevens</h3>

  <p>Hieronder vallen de data die door de servers of projecten opgeslagen worden in logboeken, zoals access logs. Dit zijn logboeken van de verzoeken die gestuurd worden naar een van de servers of projecten van Zeus. In de logboeken zitten o.a. volgende data:</p>

  <ul>
    <li><strong>IP-adressen</strong>, van wie de verzoeken maakte</li>
    <li><strong>Tijdstippen</strong>, wanneer de verzoeken gemaakt werden</li>
    <li><strong>Doel</strong>, wat er precies opgevraagd werd</li>
    <li>
      <strong>Technische gegevens</strong>, zoals welk apparaat en software er gebruikt zijn voor het verzoek, welk protocol er gebruikt wordt en hoeveel bytes er verstuurd zijn.
    </li>
  </ul>

  <p>Deze informatie wordt gebruikt om de toestand van de server in de gaten te houden, teneinde de dienstverlening van de server te garanderen. Zo kunnen we de belasting van de server in de gaten houden, misbruik detecteren en foute verzoeken (bv. missende webpagina's) verhelpen.</p>

  <div class="example">Een typische gebeurtenis in het serverlogboek ziet er als volgt uit:<br>
    <p>
      <code>94.XXX.XXX.XXX - [11/Sep/2019:11:18:59 +0200] "GET /api/2.0/association/logo/js.png HTTP/1.1" 200 34464 "-" "okhttp/3.12.2"</code>
    </p>
    <p>Deze informatie zegt ons:</p>
    <ul>
      <li>Het <span class="acronym">IP</span>-adres van de gebruiker (hier onherkenbaar gemaakt).</li>
      <li>Het tijdstip waarop het verzoek naar de API gestuurd werd.</li>
      <li>Technische informatie over het verzoek: wat is er opgevraagd, welk protocol is er gebruikt, hoeveel bytes zijn er verstuurd om aan het verzoek te voldoen.</li>
      <li>De
        <em><a href="https://nl.wikipedia.org/wiki/Useragent">useragent</a></em> van het verzoek: welk apparaat stuurde het verzoek en waarmee. In dit voorbeeld gaat het bijvoorbeeld over de Android-app van Hydra.
      </li>
    </ul>
    <p>Specifiek vraagt dit verzoek het logo van een studentenvereniging op, meer bepaald
      <a href="https://hydra.ugent.be/api/2.0/association/logo/js.png">dit logo</a>.</p>
  </div>

  <p>Deze data worden niet automatisch verwerkt; ze dienen om manueel de oorzaken van problemen te vinden. Serverlogs worden onbeperkt bijgehouden.</p>

  <h3 class="title is-3" id="project">Projectdata</h3>

  <p>Veel projecten hebben data nodig om te kunnen functioneren, dus verzamelt Zeus die uiteraard ook. Vaak zijn dit gegevens die u zelf ingeeft of laat genereren door het project dat u gebruikt. Soms worden deze data ook benoemd als "door gebruikers gegenereerde gegevens".</p>

  <div class="example">
    Als u bijvoorbeeld gebruik maakt van Haldis, moet Zeus opslaan wat u besteld hebt, of Haldis zal niet werken. Bij Tab gaat het om de transacties.
  </div>

  <p>Afhankelijk van de applicatie is het niet altijd mogelijk om de gegevens te verwijderen of aanpassen zonder de integriteit of goede werking van het project op de helling te zetten. In dat geval probeert Zeus de data zoveel mogelijk te anonimiseren als u een verwijderverzoek stuurt of zoveel mogelijk data aan te passen als u een aanpassingsverzoek stuurt. Bij een verwijderingsverzoek probeert Zeus de relevante en verwijderbare data zo snel mogelijk te verwijderen. Doch is het mogelijk dat de data door back-upsystemen langer bewaard blijven.</p>

  <div class="example">
    Bij Tab kan u bijvoorbeeld geen transacties laten verwijderen, maar wel anonimiseren.
  </div>

  <p>Naast het gebruik van deze gegevens voor het doel van het project te verwezenlijken, kunnen deze gegevens ook gebruikt worden voor statistisch of wetenschappelijk onderzoek, om zo inzichten in het algemene doen en laten van de leden van de vereniging. Bij het gebruik hiervoor worden de data altijd geanonimiseerd. Kijk bijvoorbeeld bij de gedetailleerde uitleg over Haldis voor een voorbeeld.</p>

  <h3 class="title is-3">Gebruiksstatistieken en foutrapporten</h3>

  <p>Bij sommige projecten (vaak de projecten die aangeboden worden aan een breed publiek) worden ook statistieken over het gebruik van het project en eventuele foutrapporten verzameld. De gebruiksstatistieken (analytics) worden verzameld om inzicht te krijgen in het gebruik van een project, om zo de aandacht op de vaak-gebruikte onderdelen te kunnen vestigen. De foutrapporten zijn nuttig om bugs en andere fouten zo snel en goed mogelijk op te lossen.</p>

  <p>Voor deze diensten doet Zeus vaak een beroep op diensten van derden. Zie het projectspecifieke deel voor meer informatie.</p>

  <div class="example">
    Als blijkt uit de analytics dat een bepaald deel van Hydra niet vaak gebruikt wordt, kan Zeus overwegen om dat onderdeel te schrappen, om zo meer aandacht te kunnen geven aan de delen die wel vaak gebruikt worden.
  </div>

  <h2 class="title is-2" id="contact">Hoe contacteert u ons en laat u uw rechten gelden?</h2>

  <p>Om uw rechten te laten gelden, voor vragen of opmerkingen, kan u Zeus contacteren via de <%= link_to "contactpagina", "/contact" %>.</p>

  <p>Hieronder volgt een korte opsomming van uw rechten:</p>

  <ul>
    <li><strong>Recht op inzage.</strong> U mag weten of Zeus gegevens over u heeft, welke gegevens dat zijn en op welke manier en waarom Zeus ze gebruiken. Ook heeft u het recht een overzicht te krijgen wie uw gegevens verwerkt.</li>
    <li><strong>Recht op rectificatie en aanvulling.</strong> U heeft het recht in voorkomend geval foute gegevens te laten corrigeren, bv. door een rechtzetting of aanvulling te vragen.</li>
    <li><strong>Recht op vergetelheid.</strong> U kan verzoeken dat Zeus de gegevens die we over u hebben te wissen op grond van een aantal zaken.</li>
    <li><strong>Recht op overdraagbaarheid.</strong> U hebt het recht om uw gegevens op te vragen en te ontvangen in een gestructureerd, door een machine leesbaar document.</li>
    <li><strong>Recht op beperking van de verwerking.</strong> U heeft het recht om de verwerking van uw gegevens te beperken, bijvoorbeeld als er een juridische procedure loopt, een rechtzetting nog niet is doorgevoerd, of de gegevens onrechtmatig gebruikt worden.</li>
    <li><strong>Recht op bezwaar.</strong> Indien u meent dat Zeus uw gegevens verwerken op onrechtmatige basis, kan u bezwaar aantekenen.</li>
  </ul>

  <h2 class="title is-2" id="projecten">Overzicht der projecten</h2>

  <h3 class="title is-3" id="specifiek">Project-specifieke bepalingen</h3>

  <p>Onder deze paragraaf volgt een lijst van alle projecten... </p>
  <ol>
    <li>... met uitzonderingen op het algemeen beleid, of</li>
    <li>... waarvoor er bijkomende informatie is over het gebruik van data in het project.</li>
  </ol>

  <hr>

  <% privacy_projects("additional").each do |project| %>
    <%= render '/partials/_privacy.erb', project: project %>
    <hr>
  <% end %>

  <h3 class="title is-3" id="specifiek">Projecten zonder specifieke bepalingen</h3>

  <p>Deze projecten vallen integraal onder het algemene beleid.</p>

  <ul>
    <% privacy_projects("general").each do |project| %>
      <%= render '/partials/_privacy_link.erb', project: project %>
    <% end %>
  </ul>

  <h3 class="title is-3" id="in-ontwikkeling">Projecten in ontwikkeling</h3>

  <p>Deze projecten zijn nog in ontwikkeling. U mag geen persoonlijke data aan deze projecten leveren. Doet u dit toch, dan is dit op eigen risico: noch de functionaliteit, noch de beveiliging van deze projecten staat op punt.</p>

  <ul>
    <% privacy_projects("development").each do |project| %>
      <%= render '/partials/_privacy_link.erb', project: project %>
    <% end %>
  </ul>

  <h3 class="title is-3" id="in-opdracht">Projecten in opdracht</h3>

  <p>Deze projecten worden door Zeus in opdracht van derden aangeboden. Hierbij treedt Zeus op als verwerker, zoals uitgelegd in paragraaf <em><a href="#verwerker">Zeus als verwerker</a></em>. Dat komt er op neer dat Zeus enkel technische informatie verzamelt.</p>

  <ul>
    <% privacy_projects("processor").each do |project| %>
      <%= render '/partials/_privacy_link.erb', project: project %>
    <% end %>
  </ul>

  <h2 class="title is-2" id="diensten">Overzicht der diensten</h2>

  <p>Verschillende projecten gebruiken dezelfde diensten van derden. In plaats van deze informatie meerdere keren in het beleid te plaatsen, wordt de informatie hier eenmaal vermeld. Vanuit de beschrijving van de projecten wordt er dan verwezen naar deze bijlagen.</p>

  <h3 class="title is-3" id="google-analytics">Gebruik van Google Analytics</h3>

  <p>Uitgebreide informatie over hoe Google met uw gegevens omgaat, vindt u <a href="https://www.google.com/policies/privacy/partners/">hier</a>. Verdere details over het gebruik van Google Analytics door Zeus:</p>

  <ul>
    <li>Uw gegevens worden gedurende 14 maanden bewaard door Google Analytics na uw laatste bezoek.</li>
    <li>Uw gegevens worden door Google niet gedeeld met derden.</li>
    <li>Google verwerkt uw gegevens mogelijk buiten de <span class="acronym">EER</span>. Google is gecertificeerd in het kader van het EU-VS-privacyschild.</li>
    <li>Er wordt geen informatie verzameld waarmee Zeus of Google u kunnen identificeren (zoals <span class="acronym">IP</span>-adressen).</li>
    <li>Indien u niet wenst dat Zeus uw gegevens verzamelen met Google Analytics, kan u o.a. deze <a href="https://tools.google.com/dlpage/gaoptout/?hl=nl">add-on</a> installeren.</li>
  </ul>

  <p>Enkele voorbeelden van de verzamelde gegevens:</p>
  <ul>
    <li><strong>Softwareversies.</strong> Welke browser u gebruikt en zijn versie, welk besturingssysteem, enz.</li>
    <li><strong>Gebruiksdata.</strong> Hoe u de website gebruik, wat u bezoekt, hoe lang u die onderdelen bezoekt, enz.</li>
    <li><strong>Hardware-informatie.</strong> De resolutie van uw scherm.</li>
  </ul>

  <p>Door deze informatie kan Zeus ervoor zorgen dat de website goed werkt in de browsers die de bezoekers gebruiken. Als het merendeel van de gebruikers bv. een mobiel toestel gebruikt, kan Zeus haar aandacht richten op het optimaliseren van de website voor mobiel gebruik.</p>

  <h3 class="title is-3" id="cloudflare">Gebruik van Cloudflare CDN</h3>

  <p>We gebruiken de Cloudflare CDN om softwarebibliotheken te laden. Zie <a href="https://www.cloudflare.com/privacypolicy/">hun privacybeleid</a> (Engels).</p>

  <h3 class="title is-3" id="crashlytics">Foutrapporten met Crashlytics</h3>

  <p>Voor het verzamelen van foutrapporten gebruiken sommige apps Crashlytics van Firebase. Uitgebreide informatie over hoe Google met uw gegevens omgaat, vindt u <a href="https://www.google.com/policies/privacy/partners/">hier</a>. Verdere details over het gebruik van Google Analytics door Zeus:</p>

  <ul>
    <li>Stacktraces en bijhorende anonieme identificatienummers van crashes worden 90 dagen bewaard door Google.</li>
    <li>Er wordt geen informatie verzameld waarmee we u kunnen identificeren (zoals <span class="acronym">IP</span>-adressen).</li>
  </ul>
</div>
