<div class="content blog-preview">
  <div class="blogpreview-heading columns is-multiline is-gapless">
    <div class="column is-full">
      <div class="columns is-gapless is-vcentered">
        <div class="column">
          <a class="title is-3 is-size-4-mobile" href="<%= relative_path_to(post) %>">
            <%= post[:title] %>
          </a>
        </div>
        <% if post[:tags] %>
          <div class="column is-narrow">
            <div class="blogpreview-tags">
              <% post[:tags]&.each do |tag| %>
                <!-- The following code is a bit hacky, fix when necessary -->
                <a class="tag is-normal is-rounded" href=<%= "/blog/#{tag.split.map(&:capitalize).join('_')}/index.html" %>>
                  <%= tag.split.map(&:capitalize).join(' ') %>
                </a>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <small class="column blogpreview-extra"><%= post[:created_at] %><% if post[:author] %> • <%= post[:author] %> <% end %> <%= "• #{post[:description]}" if post[:description] %></small>
  </div>
  <p>
    <%= excerptize(post.reps[:text].compiled_content, length: 500).tr("\n", ' ')%>
  </p>
  <hr>
</div>
