<div class="content blog-preview">
  <div class="blogpreview-heading">
    <a href="<%= relative_path_to(post) %>">
      <h3><%= post[:title] %></h3>
    </a>
    <div class="blogpreview-tags">
      <% post[:tags]&.each do |tag| %>
        <!-- The following code is a bit hacky, fix when necessary -->
        <a href=<%= "/blog/#{tag.gsub(' ', '_')}/index.html" %>>
          <span class="tag is-normal is-rounded"><%= tag %></span>
        </a>
      <% end %>
    </div>
  </div>
  <small class="blogpreview-extra"><%= post[:created_at] %><% if post[:author] %> • <%= post[:author] %> <% end %> • <%= post[:description] %></small>
  <br/>
  <p>
  <%= excerptize(post.reps[:text].compiled_content, length: 500).tr("\n", ' ')%>
  </p>
  <hr>
</div>
