<table class="table board-table">
  <thead>
    <tr>
      <th>Function</th>
      <th>Name</th>
      <th>E-mail</th>
      <th></th>
      <th>Mattermost</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% current_bestuur.each do |lid| %>
    <tr>
      <td>
        <%= lid[:rol] %>
      </td>
      <td>
        <%= lid[:naam] %>
      </td>
      <td>
        <%= lid[:mail] %>
      </td>
      <td>
        <% if lid[:mail] %>
          <a href="mailto:<%= lid[:mail] %>">
            <%= fa :envelope %>
          </a>
        <% end %>
      </td>
      <td>
        <%= lid[:mattermost] %>
      </td>
      <td>
        <% if lid[:mattermost] %>
          <a href="https://chat.zeus.gent/zeus/messages/@<%= lid[:mattermost] %>">
            <%= fa :message %>
          </a>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
