<% if @event[:banner] %>
  <a href="<%= @event.path %>" class="tile event-tile is-child box backgroundimg highlighted"
    style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0, 0, 0, 0.65)), url('<%= @event[:banner] %>');">
<% elsif @event[:color] %>
  <a href="<%= @event.path %>" class="tile event-tile is-child box backgroundimg highlighted"
    style="background-image: linear-gradient(to top right,rgba(255,255,255,0),rgba(0,0,0,.60)); background-color:<%= @event[:color] %>;">
<% else %>
  <a href="<%= @event.path %>" class="tile event-tile is-child box backgroundimg">
<% end %>
  <div class="content event-content">
  <% if @event[:image] %>
  <img class="event-tile-image" src="<%= @event[:image] %>" alt="">
  <% end %>
    <div class="event-text">
      <h2 class="is-size-4-mobile has-text-centered">
        <%= @event[:title] %>
      </h2>

      <div class="is-size-6-mobile description has-text-centered">
        <%= @event[:description] %>
      </div>

      <hr/>

      <div class="is-size-7-mobile  event-time-loc">
        <%= fa :'clock' , fw: true %><%= @event[:time].strftime('%A %d %B, %H:%M') %>
        <br>
        <%= fa :'location-dot', fw: true %><%= @event[:location] %>
      </div>
    </div>

  </div>
</a>
