<% if @event[:banner] %>
  <a href="<%= @event.path %>" class="tile event-tile is-child box backgroundimg highlighted"
    style="background-image:url('<%= @event[:banner] %>');">
<% elsif @event[:color] %>
  <a href="<%= @event.path %>" class="tile event-tile is-child box backgroundimg highlighted"
    style="background-image: linear-gradient(to top right,rgba(255,255,255,0),rgba(0,0,0,.60)); background-color:<%= @event[:color] %>;">
<% else %>
  <a href="<%= @event.path %>" class="tile event-tile sis-child box backgroundimg">
<% end %>
  <div class="content event-content">
    <div class="event-text">
      <h1 class="has-text-centered">
        <%= @event[:title] %>
      </h1>

      <div class="description has-text-centered">
        <%= @event[:description] %>
      </div>

      <div class="is-divider"></div>

      <div class="">
        <%= fa :'clock-o' , fw: true %><%= @event[:time].strftime('%A %d %B %Y %H:%M') %>
        <br>
        <%= fa :'map-marker', fw: true %><%= @event[:location] %>
      </div>
    </div>

  </div>
</a>
