<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p class="is-hidden-tablet">
        <a class="icon" href="https://github.com/ZeusWPI" target="_blank">
          <span class="icon">
            <%= fa :github %>
          </span>
        </a>
        <a class="icon" href="https://www.facebook.com/zeus.wpi/" target="_blank">
          <span class="icon">
            <%= fa :facebook %>
          </span>
        </a>
        <a class="icon" href="/feed.xml" target="_blank">
          <span class="icon">
            <%= fa :rss %>
          </span>
        </a>
        <a class="icon" href="/ical.ics">
          <span class="icon">
            <%= fa :calendar %>
          </span>
        </a>
        <a class="icon" href="//zeus.ugent.be/wiki">
          <span class="icon">
            <%= fa :'wikipedia-w' %>
          </span>
        </a>
      </p>
      <p>
        Made with <%= fa :heart, class: 'heart' %> by Zeus WPI
      </p>
      <p>
        <a href="https://github.com/ZeusWPI/zeus.ugent.be">
          <span class="hidden-xs"> View on GitHub </span>
          <%= fa :github %>
        </a>
      </p>
    </div>
  </div>
</footer>
