<div id="navbar">
  <div class="navbar <%= 'is-transparent' if defined? @transparent_nav %>">
    <div class="navbar-brand">
      <a class="navbar-item" id="logo-link" href="/">
        <% if christmastime? %>
          <img id="santa" src="/assets/images/pusheen.png">
        <% end %>
        <img id="logo" src="<%= zeus_logo_url color: @zeus_logo_color %>" alt="" />
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <% navigables.each do |i| %>
        <a class="navbar-item <%= 'is-active' if child_of(i) %>" href="<%= i.path %>">
          <%= i[:title] %>
        </a>
        <% end %>
        <% if new_member_time? %>
          <a class="navbar-item" id="ledenformulier" href="https://zeus.gent/ledenformulier">
            Schrijf je in!
          </a>
        <%end%>
      </div>
      <!-- TODO: Remove this is-hidden-touch, it's just a convenience for now -->
      <div class="navbar-end is-hidden-touch">
        <form action="/search/?" method="get" class="navbar-item nav-search">
          <div id="tipue_search_input">
            <input type="text" name="q" id="tipue_search_input_field" autocomplete="off">
          </div>
        </form>
        <a class="navbar-item social-icon" href="https://github.com/ZeusWPI" target="_blank">
          <span class="icon">
            <%= fa :github %>
          </span>
        </a>
        <a class="navbar-item social-icon" href="https://www.facebook.com/zeus.wpi/" target="_blank">
          <span class="icon">
            <%= fa :facebook %>
          </span>
        </a>
        <a class="navbar-item social-icon" href="/feed.xml" target="_blank">
          <span class="icon">
            <%= fa :rss %>
          </span>
        </a>
        <a class="navbar-item social-icon" href="/ical.ics">
          <span class="icon">
            <%= fa :calendar %>
          </span>
        </a>
        <a class="navbar-item social-icon" href="//zeus.ugent.be/wiki">
          <span class="icon">
            <%= fa :'wikipedia-w' %>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
