<div id="navbar">
  <div class="columns">
    <div class="logo-wrapper column is-narrow is-hidden-mobile">
      <a id="logo-link" href="/">
        <img id="logo" src="<%= zeus_logo_url color: @zeus_logo_color %>" alt="" />
      </a>
    </div>
    <div class="actual-nav-bar column">
      <nav class="nav">
          <a class="is-hidden-tablet nav-item" href="/">
            <img id="inline-logo" src="<%= zeus_logo_url color: @zeus_logo_color %>" alt="" />
          </a>
          <div class="nav-menu nav-left">
            <% nav_items do |item, active| %>
            <a class="nav-item is-tab <%= 'is-active' if active %>" href="<%= item.path %>">
              <%= item[:title] %>
            </a>
            <% end %>
          </div>


          <!-- Filler for when mobile -->
          <div class="nav-left is-hidden-desktop"></div>

          <div class="nav-right">
            <form action="/search/?" method="get">
              <div id="tipue_search_input" class="nav-item">
                <input type="text" name="q" id="tipue_search_input_field" autocomplete="off">
              </div>
            </form>
          </div>

          <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>

          <div class="nav-right is-hidden-mobile social-icons">
              <a class="nav-item social-icon" href="https://github.com/ZeusWPI" target="_blank">
                  <span class="icon">
                    <%= fa :github %>
                  </span>
              </a>
              <a class="nav-item social-icon" href="https://www.facebook.com/zeus.wpi/" target="_blank">
                  <span class="icon">
                    <%= fa :facebook %>
                  </span>
              </a>
              <a class="nav-item social-icon" href="/feed.xml" target="_blank">
                  <span class="icon">
                    <%= fa :rss %>
                  </span>
              </a>
              <a class="nav-item social-icon" href="/ical.ics">
                  <span class="icon">
                    <%= fa :calendar %>
                  </span>
              </a>
              <a class="nav-item social-icon" href="//zeus.ugent.be/wiki">
                  <span class="icon">
                    <%= fa :'wikipedia-w' %>
                  </span>
              </a>
          </div>
      </nav>
    </div>
  </div>
</div>
