<div id="<%= project.identifier.without_ext.split('/')[-1] %>" class="container project content">
  <article class="columns is-mobile">
    <div class="column is-gapless is-narrow logo-wrapper">
      <% if project[:logo_image] %>
        <div class="logo">
          <%= asset :img, project[:logo_image] %>
        </div>
      <% else %>
        <div class="logo" style="background-color: <%= project[:logo_color]%>">
          <div class="logo-initial has-text-centered"><%= project[:logo_letter]%></div>
        </div>
      <% end %>
    </div>
    <div class="column">
      <p class="title"><a href="<%= project[:site] %>" target="_self"><%= project[:title] %></a></p>
      <%= project.compiled_content %>
      <div><a href="<%= project[:github] %>"><span class="icon"><%= fa('github') %></span> GitHub</a></div>
    </div>
  </article>
</div>
