<a href="<%= @article.path %>" class="tile is-child box backgroundimg <%= @htmlclass %>"
  style="background-image:url('<%= @article[:banner] %>');">
  <div class="content" >
    <div class="columns">
      <div class="column">
        <h2>
          <%= @article[:title] %>
        </h2>
      </div>
      <div class="column is-narrow">
        <small>
          <%= @small_text %>
        </small>
      </div>
    </div>
    <div class="description">
      <%= @article[:description] %>
    </div>
    <div class="teaser">
      <%= get_teaser(@article) %>
    </div>
  </div>
</a>
