<div class="columns is-flex-mobile" >
  <div class="column">
  <% posts_in_year(item[:academic_year]).each do |post| %>
    <a href="<%= relative_path_to(post) %>" >
      <div class="box padbox">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <h2><%= post[:title] %> <small> <%= post[:created_at] %></small></h2>
              <%= post[:description] %>
            </div>
          </div>
        </article>
      </div>
    </a>
  <% end %>
  </div>
  <aside class="column is-narrow menu">
    <p class="menu-label">
      Academic Year
    </p>
    <ul class="menu-list">
      <% academic_years_items.each do |year, item| %>
      <% if @item_rep && @item_rep.path == item.path %>
      <li>
        <a href="#" class="is-active">
          <%= pretty_year(year) %>
        </a>
      </li>
      <% else %>
      <li>
        <%= link_to pretty_year(year), item %>
      </li>
      <% end %>
      <% end %>
    </ul>
  </aside>
</div>
