<div class="columns" >
  <div class="column is-2 is-narrow">
    <aside class="menu">
      <p class="menu-label">
        Academiejaar
      </p>
      <ul class="menu-list">
        <% academic_years_bloch_items.each do |year, item| %>
        <% if @item_rep && @item_rep.path == item.path %>
        <li>
          <a href="#" class="is-active">
            <%= pretty_year(year) %>
          </a>
        </li>
        <% else %>
        <li>
          <%= link_to pretty_year(year), item %>
        </li>
        <% end %>
        <% end %>
      </ul>
      <p class="menu-label">
        Tag
      </p>
      <ul class="menu-list">
        <% tag_bloch_items.each do |tag, item| %>
        <% if @item_rep && @item_rep.path == item.path %>
        <li>
          <a href="#" class="is-active">
            <%= tag %>
          </a>
        </li>
        <% else %>
        <li>
          <%= link_to tag, item %>
        </li>
        <% end %>
        <% end %>
      </ul>
    </aside>
  </div>
  <div class="column">
    <div class="columns is-multiline">
      <div class="column">
      <% posts_in_year_or_with_tag(item).each_with_index.select {|e, i| i.even?}.map(&:first).each do |post| %>
        <%= render '/partials/_bloch_preview.*', post: post %>
      <% end %>
      </div>

      <div class="column">
      <% posts_in_year_or_with_tag(item).each_with_index.reject {|e, i| i.even?}.map(&:first).each do |post| %>
        <%= render '/partials/_bloch_preview.*', post: post %>
      <% end %>
      </div>
    </div>
    <% if posts_in_year_or_with_tag(item).empty? %>
      <div class="content has-text-centered">
        <h1>Sorry.</h1>
        <h2>No bloch posts yet this year.</h2>
        <h4 class="has-text-grey"><i>Soon TM.<i></h4>
      </div>
    <% end %>
  </div>
</div>
