<div class="blog-heading">
  <div class="titlewrap">
    <h1 class="title is-1 has-text-centered">
      <%= item[:title] %>
    </h1>
    <% if item[:author] %>
    <h2 class="subtitle is-3 has-text-centered">
      door <%= item[:author] %>
    </h2>
    <% end %>
    <div class="details">
      <small>
        Geschreven op <%= item[:created_at] %><br>
        Leestijd: <%= reading_time @item %>
      </small>
    </div>
  </div>
</div>

<div class="columns">
  <%= yield %>
</div>
