<% content_for :head do %>
<meta property="og:title" content="<%= item[:title] %>" />
<meta property="og:type" content="article" />
<meta property="og:image" content="<%= item[:image] %>" />
<meta property="og:url" content="<%= url_for(item) %>" />
<meta property="og:description" content="<%= item[:description] %>" />
<meta property="og:site_name" content="Zeus WPI" />
<meta property="article:author" content="<%= @item[:author] %>">
<meta name="twitter:label1" value="Author" />
<meta name="twitter:data1" value="<%= @item[:author] %>" />
<meta name="twitter:label2" value="Created at" />
<meta name="twitter:data2" value="<%= @item[:created_at] %>" />
<meta name="twitter:card" content="summary_large_image" />

<!-- Animate.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

<!-- KaTeX math css -->
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/katex.css">

<!-- Colorize css -->
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/coderay.css">
<% end %>

<div vocab="http://schema.org/" typeof="BlogPosting">
  <div class="blog-heading">
    <div class="titlewrap">
      <h1 class="title is-1-responsive has-text-centered animated fadeIn" property="name">
        <%= item[:title] %>
      </h1>
      <% if item[:author] %>
      <h2 class="subtitle is-4-responsive has-text-centered animated fadeInLeft">
        door <span property="author"><%= item[:author] %></span>
      </h2>
      <% end %>
      <div class="details animated fadeInRight">
        <small>
          Geschreven op <span property="dateCreated"><%= item[:created_at] %></span><br>
          Leestijd: <%= reading_time @item %>
        </small>
      </div>
    </div>
  </div>

  <div class="columns animated fadeIn" property="articleBody">
    <%= yield %>
  </div>
</div>
