<% content_for :head do %>
<meta property="og:title" content="<%= item[:title] %>" />
<meta property="og:type" content="article" />
<meta property="og:image" content="" />
<meta property="og:url" content="<%= url_for(item) %>" />
<meta property="og:description" content="<%= item[:description] %>" />
<meta property="og:site_name" content="Zeus WPI" />
<meta property="article:author" content="<%= @item[:author] %>">
<meta name="twitter:label1" value="Author" />
<meta name="twitter:data1" value="<%= @item[:author] %>" />
<meta name="twitter:label2" value="Created at" />
<meta name="twitter:data2" value="<%= gitmtime  %>" />
<meta name="twitter:card" content="summary_large_image" />

<!-- Animate.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<% end %>

<div class="blog-heading">
  <div class="titlewrap">
    <h1 class="title is-1-responsive has-text-centered animated fadeIn">
      <%= item[:title] %>
    </h1>
    <% if item[:author] %>
    <h2 class="subtitle is-3-responsive has-text-centered animated fadeInLeft">
      door <%= item[:author] %>
    </h2>
    <% end %>
    <div class="details animated fadeInRight">
      <small>
        Geschreven op <%= gitctime %><br>
        Laatst aangepast op <%= gitmtime %><br>
        Leestijd: <%= reading_time @item %>
      </small>
    </div>
  </div>
</div>

<div class="columns animated fadeIn">
  <%= yield %>
</div>
