<!DOCTYPE HTML>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      Zeus WPI | <%= item[:title] || 'Werkgroep Informatica van de Universiteit Gent' %>
    </title>

    <link rel="icon" href="/assets/images/favicon32.png" type="image/x-icon">

    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">

    <!-- Android theme color -->
    <meta name="theme-color" content="#FF7F00">

    <meta property="fb:app_id" content="597670540410704">

    <!-- Custom CSS -->
    <%= asset :css, :main %>

    <!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Make sure search engines only cache one deployment of this site -->
    <link rel="canonical" href="<%= "#{@config[:base_url]}#{@item.path}" %>">
    
    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script>
    (function(f, a, t, h, o, m){
      a[h]=a[h]||function(){
        (a[h].q=a[h].q||[]).push(arguments)
      };
      o=f.createElement('script'),
      m=f.getElementsByTagName('script')[0];
      o.async=1; o.src=t; o.id='fathom-script';
      m.parentNode.insertBefore(o,m)
    })(document, window, '//stats.zeus.gent/tracker.js', 'fathom');
    fathom('trackPageview');
    </script>
    <!-- / Fathom -->

    <%= content_for(@item, :head) %>
  </head>

  <body class="site">
    <script>
      // only add mirror css class if mirrored is true in cookie
      if (document.cookie.includes("mirrored=true")) {
        document.body.classList.add('mirrored');
      }
    </script>
    <div class="wrapper">
      <%= yield %>
    </div>
    <%= render '/partials/_footer.*' %>

    <%= content_for(@item, :scripts) %>
    <%= asset :js, :search %>
    
    <!-- Zapp Dropdown iframe needs to be directly relative to body -->
    <!-- local testing:  -->
    <!-- production: https://zapp.zeus.gent/zapp-iframe/dropdown.html -->

    <iframe sandbox="allow-scripts allow-popups"
      id="zappdropdown"
      src="https://zapp.zeus.gent/zapp-iframe/dropdown.html"
      style="border-style: none; z-index: 20; position: absolute; left: 0; top: 0; height: 0vh; width: 0vw; overflow: hidden; visibility: hidden;"
    ></iframe>
  </body>
</html>
