<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      Zeus WPI | <%= item[:title] || 'Werkgroep Informatica van de Universiteit Gent' %>
    </title>

    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    <link rel="icon" href="/assets/images/favicon32.png" type="image/x-icon" />

    <script src="https://code.jquery.com/jquery-3.0.0.min.js" charset="utf-8"></script>

    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">

    <!-- Android theme color -->
    <meta name="theme-color" content="#FF7F00">

    <meta property="fb:app_id" content="597670540410704">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/Tipue-Search/5.0.0/tipuesearch.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Tipue-Search/5.0.0/tipuesearch_set.js"></script>
    <%= asset :js, :tipuesearch %>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Google Analytics -->
    <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-25444917-1', 'auto');
    ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>

    <%= asset :css, :main %>

    <%= content_for(@item, :head) %>
  </head>
  <body class="site">
    <div class="wrapper">
      <%= yield %>
    </div>
    <%= render '/partials/_footer.*' %>
  </body>
</html>
