<% content_for :head do %>
<meta property="og:image" content="<%= item[:banner] %>" />
<meta property="og:title" content="<%= item[:title] %>" />
<% end %>

<img class="pure-img" id="event-banner" src="<%= item[:banner] %>" alt="" />

<div id="event-content">
  <div id="sticky-anchor"></div>
  <div id="sticky">
    <h1 id="event-title"><%= item[:title] %></h1>
    <%= render '/_navbar.*' %>
  </div>
  <div class="pure-g">
    <!-- Wrapper needed to add some padding to the grid class -->
    <div id="event-description-wrapper" class="pure-u-3-4">
      <div class="pure-u-1-6"></div>
      <div class="pure-u-2-3">
        <div id="event-description">
          <%= yield %>
        </div>
      </div>
    </div>
    <div id="event-info" class="pure-u-1-4">
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-clock-o"></i><%= item[:time] %></li>
        <li><i class="fa-li fa fa-globe"></i><%= item[:location] %></li>
      </ul>
    </div>
  </div>
</div>

<script src="/index.js"></script>
