<% content_for :head do %>
<meta property="og:image" content="<%= item[:banner] %>" />
<meta property="og:title" content="<%= item[:title] %>" />
<meta property="og:type" content="article" />
<meta property="og:url" content="<%= url_for(item) %>" />
<% end %>

<section class="hero is-medium is-info">
  <div class="hero-head">
    <%= render '/partials/_navbar.*' %>
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= item[:title] %>
      </h1>
      <h2 class="subtitle">
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-clock-o"></i><%= item[:time] %></li>
          <li><i class="fa-li fa fa-globe"></i><%= item[:location] %></li>
        </ul>
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns">

    <div class="container">
      <div id="event-info" class="is-pulled-right">
        <div class="box">
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-clock-o"></i><%= item[:time] %></li>
            <li><i class="fa-li fa fa-globe"></i><%= item[:location] %></li>
          </ul>
        </div>
      </div>

      <div class="content">
        <%= yield %>
      </div>
    </div>

  </div>
</section>
