<% content_for :head do %>
<meta property="og:image" content="<%= item[:image] %>" />
<meta property="og:title" content="<%= item[:title] %>" />
<meta property="og:type" content="article" />
<meta property="og:url" content="<%= url_for(item) %>" />
<% end %>

<% if item[:banner] %>
<section class="hero is-medium is-primary is-bold" style="background-image:url('<%= item[:banner] %>');">
<% else %>
<section class="hero is-medium is-primary is-bold">
<% end %>
  <div class="hero-head">
    <%= render '/partials/_navbar.*', zeus_logo_color: :white %>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <p class="title is-1">
            <b>
              <%= item[:title] %>
            </b>
            <span class="event-social-icons">
              <% if item[:facebook] %>
              <a href="<%= item[:facebook] %>">
                <%= fa :facebook %>
              </a>
              <% end %>
              <a href="<%= item.path rep: :ical %>">
                <%= fa :calendar %>
              </a>
            </span>
          </p>
          <p class="subtitle is-3">
            <%= item[:description] %>
          </p>
          <p class="subtitle is-3">
            <ul class="fa-ul event-attributes">
              <li><%= fa 'clock-o', li: true %><%= item[:time].strftime '%A %d %B %Y %H:%M' %></li>
              <li><%= fa 'map-marker', li: true %><%= item[:location] %></li>
            </ul>
          </p>
        </div>

        <div class="is-narrow column banner-image">
          <img src="<%= item[:image] %>"  >
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <div class="content has-text-justified is-medium">
        <%= yield %>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="google-maps column is-8 is-offset-2">
      <iframe
        frameborder="0" style="border:0"
        src="<%= locationlink item[:locationlink] %>" allowfullscreen>
      </iframe>
    </div>
  </div>
</section>
