<% content_for :head do %>
<meta property="og:image" content="<%= item[:banner] %>" />
<meta property="og:title" content="<%= item[:title] %>" />
<meta property="og:type" content="article" />
<meta property="og:url" content="<%= url_for(item) %>" />
<% end %>

<section class="hero is-medium is-info is-bold">
  <div class="hero-head">
    <%= render '/partials/_navbar.*', zeus_logo_color: :white %>
  </div>
  <div class="hero-body ">

    <div class="container">
      <div class="columns">

        <div class="column">
          <p class="title is-1">
          <b>
            <%= item[:title] %>
          </b>
          </p>
          <p class="subtitle is-3">
          <%= item[:description] %>
          </p>
          <p class="subtitle is-3">
          <ul class="fa-ul">
            <li><%= fa 'clock-o', li: true %><%= item[:time] %></li>
            <li><%= fa 'globe', li: true %><%= item[:location] %></li>
          </ul>
          </p>
        </div>

        <div class="is-narrow column banner-image">
          <img src=<%= item[:banner] %>  >
        </div>

      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <div class="content has-text-justified">
        <%= yield %>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="google-maps column is-8 is-offset-2">
      <iframe
        frameborder="0" style="border:0"
        src="<%= locationlink item[:locationlink] %>" allowfullscreen>
      </iframe>
    </div>
  </div>
</section>
