<% content_for :head do %>
<% if item[:image] %>
<meta property="og:image" content="<%= item[:image] %>" />
<% end %>
<meta property="og:title" content="<%= item[:title] %>" />
<meta property="og:type" content="article" />
<meta property="og:url" content="<%= url_for(item) %>" />
<meta property="og:description" content="<%= item[:description] %>" />
<meta property="og:site_name" content="Zeus WPI" />
<meta name="twitter:label1" value="Time" />
<meta name="twitter:data1" value="<%= item[:time].strftime '%A %d %B %Y %H:%M' %>" />
<meta name="twitter:label2" value="Place" />
<meta name="twitter:data2" value="<%= item[:location] %>" />
<meta name="twitter:card" content="summary_large_image" />

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>

<!-- KaTeX math css -->
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/katex.css">
<% end %>

<div vocab="http://schema.org/" typeof="Event">
<% if item[:banner] %>
<section class="hero is-medium is-primary is-bold" style="background-image:url('<%= item[:banner] %>');background-position:center;">
<% elsif item[:color] %>
  <% gradient = if item[:gradient].nil? || item[:gradient]
                  'linear-gradient(141deg,rgba(255,255,255,0),rgba(0,0,0,.60))'
                else
                  'none'
                end %>
                <section class="hero is-medium is-primary is-bold" style="background-image: <%= gradient %>; background-color:<%= item[:color] %>;">
<% else %>
<section class="hero is-medium is-primary is-bold">
<% end %>
  <div class="hero-head">
    <%= render '/partials/_navbar.*', zeus_logo_color: :white, transparent_nav: true %>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column has-vertical-center">
          <div class="header-text <%= item[:header_text_background] and !item[:header_text_background_color] ? 'light-background' : '' %>"
               <% if item[:header_text_background_color] %>
                style="background-color: <%= item[:header_text_background_color] %>"
               <% end %>>
            <p class="title is-1-responsive event-title">
              <b property="name">
                <%= item[:title] %>
              </b>
              <span class="event-social-icons">
                <% if item[:facebook] %>
                <a href="<%= item[:facebook] %>">
                  <%= fa :facebook %>
                </a>
                <% end %>
                <a href="<%= item.path rep: :ical %>">
                  <%= fa :calendar %>
                </a>
              </span>
            </p>
            <p class="subtitle is-3-responsive" property="description">
              <%= item[:description] %>
            </p>
            <ul class="fa-ul is-4-responsive">
              <li>
                <%= fa 'clock-o', li: true %>
                <span property="startDate" content="<%=item[:time]%>"> <%= item[:time].strftime '%A %d %B %Y %H:%M' %></span>
                <% if item[:end] %>
                    <span>
                        -
                    </span>
                    <span property="endDate" content="<%=item[:time]%>">
                    <% if (item[:end].strftime '%d %B %Y') != (item[:time].strftime '%d %B %Y') %>
                            <%= item[:end].strftime '%d %B ' %>
                        </span>
                    <% end %>
                    <% if (item[:end].strftime '%Y') != (item[:time].strftime '%Y') %>
                        <span>
                            <%= item[:end].strftime '%Y ' %>
                        </span>
                    <% end %>
                    <span>
                        <%= item[:end].strftime '%H:%M' %>
                    </span>
                    </span>
                <% end %>
              </li>
              <li><%= fa 'map-marker', li: true %><span property="location"><%= item[:location] %></span></li>
            </ul>
          </div>
        </div>

        <% if item[:image] %>
        <div class="is-narrow column banner-image">
          <img src="<%= item[:image] %>" alt="banner" property="image">
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <div class="content has-text-justified is-medium-responsive">
        <%= yield %>
      </div>
      <!-- LOCATION -->
      <% if item[:locationlink] %>
        <%= render '/partials/_map.erb', location: item[:locationlink] %>
      <% end %>
    </div>
  </div>
</section>

<!-- SPONSORED BY -->
<% if item[:sponsors] %>
<section class="section">
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <h1 class="title is-1-responsive has-text-centered">Sponsored by</h1>
      <div class="sponsors">
        <% @item[:sponsors].each do |sp| %>
        <a href="<%= sp[:url] %>" target="_blank">
          <img src="<%= sp[:img] %>" alt="<%= sp[:name] %>">
        </a>
        <% end %>
      </div>
    </div>
  </div>
</section>
<% end %>
<!-- END SPONSORED BY -->
</div>
