---
narrow_page: true
subnavigation:
  bar: sponsors
  identifier: members
  name: subnavigation.sponsors.sponsoring_members
  order: 10
---

<h1 class='title is-1 has-text-centered'><%= t('sponsors.sponsoring_members.title') %></h1>

<div id='sponsoring-members' class="content">
  <% if current_sponsoring_members.nil? %>
    ><%= t('sponsors.sponsoring_members.empty') %>
  <% else %>
    <% current_sponsoring_members.shuffle.each do |member| %>
      <div id="<%= member[:nickname] %>" class="box sponsoring-member">
        <article class="columns is-mobile">
          <div class="column is-gapless is-narrow logo-wrapper">
            <% if member[:photo] %>
              <img src="<%= member[:photo] %>" alt="<%= member[:name] %>">
            <% else %>
              <div class="logo-initial has-text-centered">
                <%= member[:name].chars.first %>
              </div>
            <% end %>
            <div class="name"><%= member[:name] %></div>
            <div class="username">(<%= member[:nickname] %>)</div>
          </div>
          <div class="column">
            <div>
              <blockquote>
                <%= to_HTML(member[:quote]) %>
              </blockquote>
              <p class="description">
                <%= to_HTML(member[:description]) %>
              </p>
            </div>
            <div class="links">
              <% member[:links].each do |link| %>
                <% if link[:icon] %>
                  <a class="social-icon" href="<%= link[:url] %>" target="_blank">
                      <span class="icon">
                        <%= fa link[:icon], {:size => "2x"} %>
                      </span>
                  </a>
                <% else %>
                  <a class="social-icon" href="<%= link[:url] %>" target="_blank">
                      <span class="icon">
                        <%= fa :globe, {:size => "2x"} %>
                      </span>
                  </a>
                <% end %>
              <% end %>
            </div>
          </div>
        </article>
      </div>
    <% end %>
  <% end %>
</div>
