---
narrow_page: true
subnavigation:
  bar: sponsors
  identifier: sponsors
  name: Sponsors
  order: 10
---

<h1 class='title is-1 has-text-centered'>Sponsors</h1>

<div id='sponsors' class="content">
  <div class="has-text-centered" style="margin-bottom: 1.5rem;">
    <a class="button is-primary is-medium" href="/assets/files/zeus-sponsorbrochure-25-26.pdf" download="sponsorbrochure.pdf">
      <span class="icon">
        <i class="fa fa-download"></i>
      </span>
      <span>Download sponsorbrochure (PDF)</span>
    </a>
  </div>

  <% if current_sponsors.nil? %>
    <div class="has-text-centered">
      No sponsors yet for this academic year. Interested? Contact the board.
    </div>
  <% else %>
    <% current_sponsors.shuffle.each do |sponsor| %>
      <div id="<%= sponsor[:name] %>" class="box sponsoring-member">
        <article class="columns is-mobile">
          <div class="column is-gapless is-narrow logo-wrapper is-flex is-justify-content-center is-align-items-center">
            <div class="name"><%= sponsor[:name] %></div>
          </div>
          <div class="column">
            <% if sponsor[:photo] %>
              <div class="is-flex is-justify-content-center is-align-items-center">
                <div class="box p-3 is-flex is-justify-content-center is-align-items-center is-inline-block" style="background: <%= sponsor[:background] %>;">
                    <img src="<%= sponsor[:photo] %>" alt="<%= sponsor[:name] %>">
                </div>
              </div>
            <% else %>
              <div class="logo-initial has-text-centered">
                <%= sponsor[:name].chars.first %>
              </div>
            <% end %>
            <div>
              <p class="description">
                <%= to_HTML(sponsor[:description]) %>
              </p>
            </div>
            <div class="links">
              <% sponsor[:links].each do |link| %>
                <% if link[:icon] %>
                  <a class="social-icon" href="<%= link[:url] %>" target="_blank">
                      <span class="icon">
                        <i class="fa fa-<%= link[:icon] %> fa-brands fa-2x"></i>
                      </span>
                  </a>
                <% else %>
                  <a class="social-icon" href="<%= link[:url] %>" target="_blank">
                      <span class="icon">
                        <%= fa :globe, {:size => "2x"} %>
                      </span>
                  </a>
                <% end %>
              <% end %>
            </div>
          </div>
        </article>
      </div>
    <% end %>
  <% end %>
</div>
