---
narrow_page: true
subnavigation:
  bar: sponsors
  identifier: sponsors
  name: Sponsors
  order: 20
---

<h1 class='title is-1 has-text-centered'>Sponsors</h1>

<div id='sponsors' class="content">
  <% if current_sponsors.nil? %>
    <div class="has-text-centered">
      No sponsors yet for this academic year. Interested? Contact the board.
    </div>
  <% else %>
    <% current_sponsors.shuffle.each do |sponsor| %>
      <div id="<%= sponsor[:name] %>" class="box sponsoring-member">
        <article class="columns is-mobile">
          <div class="column is-gapless is-narrow logo-wrapper">
            <% if sponsor[:photo] %>
              <img src="<%= sponsor[:photo] %>" alt="<%= sponsor[:name] %>">
            <% else %>
              <div class="logo-initial has-text-centered">
                <%= sponsor[:name].chars.first %>
              </div>
            <% end %>
            <div class="name"><%= sponsor[:name] %></div>
          </div>
          <div class="column">
            <div>
              <p class="description">
                <%= to_HTML(sponsor[:description]) %>
              </p>
            </div>
            <div class="links">
              <% sponsor[:links].each do |link| %>
                <% if link[:icon] %>
                  <a class="social-icon" href="<%= link[:url] %>" target="_blank">
                      <span class="icon">
                        <%= fa link[:icon], {:size => "2x"} %>
                      </span>
                  </a>
                <% else %>
                  <a class="social-icon" href="<%= link[:url] %>" target="_blank">
                      <span class="icon">
                        <%= fa :globe, {:size => "2x"} %>
                      </span>
                  </a>
                <% end %>
              <% end %>
            </div>
          </div>
        </article>
      </div>
    <% end %>
  <% end %>
</div>
